@font-face {
  font-family: 'OpenSansCondLight';
  src: url('fonts/OpenSans-CondLight-webfont.eot');
  src: url('fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-CondLight-webfont.woff') format('woff'),
       url('fonts/OpenSans-CondLight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
  background-color: #34495e; //rgb(113,49,99); //rgb(3,77,114); //#9e99c4; //#e74c3c; //#34495e; //#222;
  font-family: 'OpenSansCondLight', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  font-size: 22px;
  color: #fff;
}

header {
  width: 100%;
  background: #111;
  height: 40px;
  padding: 3px;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.container {
  width: 1024px;
  position: relative;
  margin: auto;
}

.intro {
  letter-spacing: 1px;
  line-height: 36px;
  display: inline-block;
}

.wrapper {
  position: relative;
  top: 45px;
}

.floatRight {
  float: right;
  margin-right: 5px;
}

.stickRight {
  position: absolute;
  top:0; right: 0;
}

.name {
  color: lightskyblue;
}

.photu {
  width: 40px;
  height: 40px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

.photu:hover {
  top: 20px;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

@keyframes rotateY {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes rotateY {
    from{
        -webkit-transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
    }
}

@-moz-keyframes rotateY {
    from{
        -moz-transform: rotateY(0deg);
    }
    to{
        -moz-transform: rotateY(360deg);
    }
}

@-ms-keyframes rotateY {
    from{
        -ms-transform: rotateY(0deg);
    }
    to{
        -ms-transform: rotateY(360deg);
    }
}

@-o-keyframes rotateY {
    from{
        -o-transform: rotateY(0deg);
    }
    to{
        -o-transform: rotateY(360deg);
    }
}


.rotateY {
    display: inline-block;
    animation: rotateY 3s linear infinite;
    -webkit-animation: rotateY 3s linear infinite;
    -moz-animation: rotateY 3s linear infinite;
    -ms-animation: rotateY 3s linear infinite;
    -o-animation: rotateY 3s linear infinite;
}

.sectionTitle {
  width: 100%;
  position: relative;
  margin-top: 15px;
  padding: 5px;
  font-size: 24px;
  float: left;
}

.iframeWrap {
  position: relative;
  width: 334px;
  height: 200px;
  margin: 0 7px 7px 0;
  float: left;
  position: relative;
  background: #9e99c4;
  overflow: hidden;
}

.coverLink {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 0 !important;
  z-index: 4000;
}

.iframeWrap iframe {
  width: 300%;
  height: 300%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #9e99c4;
  -webkit-transform: scale(0.34);
  -ms-transform: scale(0.34);
  -o-transform: scale(0.34);
  transform: scale(0.34);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.frameTitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,.8);
  padding: 5px;
  text-align: center;
  color: lightskyblue;
  text-transform: capitalize;
}